<h1>{{product.name}}</h1>
<p>{{product.description}}</p>
<p>Precio: ${{product.price}}</p>
<p>Categoria: {{product.category}}</p>


{{#if cartId}}
    <form action="/carts/{{cartId}}/product/{{product._id}}" method="POST">
        <button type="submit">Agregar al carrito</button>
    </form>
{{else}}
    <form action="/products/carts/create-and-add-to-cart/{{product._id}}" method="POST">
        <button type="submit">Crear carrito y agregar al carrito</button>
    </form>
{{/if}}

<a href="/products">
    <button>Volver a la lista de productos</button>
</a>
