<h1>{{product.name}}</h1>
<p>{{product.description}}</p>
<p>Precio: ${{product.price}}</p>
<p>Categoria: {{product.category}}</p>
<p>Stock: {{product.stock}}</p>

<form action="/carts/add/{{product._id}}" method="POST" style="display:inline;">
    <button type="submit">Agregar al carrito</button>
</form>

<a href="/products">
    <button>Volver a la lista de productos</button>
</a>
